.book-container
{
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
}

.book-page
{
    border: 1px solid gray;
    margin: 20px 80px;
    padding: 0;
    width: 20%;
}

.book-review
{
    width: 70%;
    border: 1px solid black;
    margin: 20px 80px;

}

.title
{
    font-weight: bolder;
    font-size: large;
}

img
{
    height: 400px;
    margin: 10px auto;
}